<!-- Navigation -->
 <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
    <!-- Brand and toggle get grouped for better mobile display -->
    <%= link_to "MSNger", root_path, class: "brand-logo center" %>
    <a id="main-menu-button" href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
          <li>
            <%= link_to "Hi, #{current_user.name}", "#" %>
          </li>
          <% if current_user.pending_contacts? %>
            <ul id="dropdown1" class="dropdown-content z-depth-4">
              <% current_user.user_pending_contact_list.each do |user|%>
                <!-- right --><!-- <li><a id="contact-pending-<%=user.id%>" href="#!"><%=user.name+" "+user.last_name%></a></li> -->
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header"><%=user.name+" "+user.last_name%></a>
                    <div class="collapsible-body">
                      <ul>
                        <div class="col s6"><li><a id="accept-contact-pending-<%=user.id%>" href="#!">Accept</a></li></div>
                        <div class="col s6"><li><a id="decline-contact-pending-<%=user.id%>" class="waves-effect waves-red" href="#!">Decline</a></li></div>
                      </ul>
                    </div>
                  </li>
                </ul>

                <li class="divider"></li>
              <%end%>
            </ul>


            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Pending requests<span class="new badge">
                <%= current_user.pending_contacts_count %>
              </span><i class="material-icons right">arrow_drop_down</i></a></li>


          <%end%>
          <li>
            <form id="search-user-form" action="/search" method="post" data-remote="true">
            <div class="input-field">
              <input id="search" name="search" placeholder="Search contacts" type="search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
          <li id="logout-button">
            <%= link_to "Logout", destroy_user_session_path, method: :delete    %>
          </li>
      <% else %>
          <li>
            <%= link_to "Signin", new_user_session_path %>
          </li>
          <li>
            <%= link_to "Signup", new_user_registration_path %>
          </li>
      <% end %>
    </ul>
    
  </div>
  </nav>
</div>